<!-- Button trigger modal -->
<div class="center buffer">
<button type="button" class="btn btn-custom" data-toggle="modal" data-target="#myModal">
  <span class="glyphicon glyphicon-headphones"></span> Join the Club
</button>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title center" id="myModalLabel">Subscribe to our mailing list!</h4>
      </div>
      <div class="modal-body">
        
        <!-- Begin MailChimp Signup Form -->

<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
        <style type="text/css">
          #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
          </style>
        
        
        <div id="mc_embed_signup">
        <form action="//artsfishingclub.us9.list-manage.com/subscribe/post?u=84f920477a61565c6cfbec041&amp;id=e7dc15aabb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div class="center_div">
            <input style="position: middle" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email Address" required>
          </div>

            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            
              <div style="position: absolute; left: -5000px;"><input type="text" name="b_84f920477a61565c6cfbec041_e7dc15aabb" tabindex="-1" value=""></div>
              <div class="center">
               <div class="clear"><input type="submit" value="Get Fish'n" name="gone fish'n" id="mc-embedded-subscribe" class="btn btn-danger btn-lg"></div>
              </div>
        </form>
        </div>
      </div>
      <!--End mc_embed_signup-->
    </div>
  </div>
</div>
<!--end modal-->