<h1>About Us</h1>

<div style="color: black; font-size: 100px" class="jumbotron center jumbotron center-lg jumbobackground";>
	<div class="container"
		<p class="homepagebio"> Cause They Don't Know Who We Be.
Well, 
We be ballas, shot callas, 
we be hungry, not funny
no jokes do we smoke
We be creators, innovators, modern day Darth Vaders
manipulating the force to coerce mankind
but not for the worse or a hearse
but to be heard so the world can be understood
		</p>
	
	</div> 
</div>