	
	<h3>Photography</h3>

<div class= "columncontainer">

	<div class="subcontainer">
		<div class="post">
			<div>
				<b class="imgDescription">This image looks super neat.</b>
				<%= link_to image_tag('tree_bark.png', :class => 'postimage'), photographs_path%>				
			</div>
		</div>
	<p class="blogtext"> Lorizzle ipsum dolor sizzle ghetto, consectetuer fizzle elit. Sheezy doggy velizzle, i saw beyonces tizzles and my pizzle went crizzle volutpizzle, suscipit cool, own yo' vizzle, arcu. Pellentesque eget phat. My shizz erizzle. For sure izzle dolizzle for sure turpis tempizzle sizzle. Maurizzle i saw beyonces tizzles and my pizzle went crizzle nibh et turpizzle. Bizzle izzle i saw beyonces tizzles and my pizzle went crizzle. Pellentesque eleifend pot nisi. In hac habitasse platea dictumst. Pimpin' dapibizzle. Cool tellus owned, pretizzle eu, mattis uhuh ... yih!, eleifend dang, nunc. Ma nizzle suscipizzle. Integizzle shizzlin dizzle away sizzle purus. Mammasay mammasa mamma oo sa at dope. Yo mamma erizzle. condimentizzle, turpizzle nizzle congue consectetuer, brizzle libero bling bling fizzle, sizzle ullamcorper sure for sure nizzle sizzle. </p> 
		</div>
	</div>



<!-- Conceptually what I need to do...  
Header, 
title
container for the column
add picture container
text appears when hovering over picture

  -->