<div style="color: black; font-size: 100px" class="jumbotron center jumbotron center-lg jumbobackground";>
	<div class="container"
	<h1>Tunage</h1>
		<p class="homepagebio"> Insert Media Player Here:...
		</p>
	
	</div> 
</div>
