#pins {
	margin: 0 auto;
}

.box {
	margin: 5px;
	width: 214px;
}

.box img {
	width: 100%;
}

.center {
		text-align: center;
}

.navbar-brand {
		font-weight: bold;
}

.homepagebio {
	margin: 30px;
		font-family:"Oswald" !important; 
		font-size: 18px !important;
		color: grey !important;
}

.jumbobackground {
		background-image: url("tree_bark.png");
}

li {
	list-style-type: none;
}